div(class="container-fluid")
    h3(class="my-5 text-center text-white Montserrat-Bold") Calls Details Records     
    include paginate
    table(class="table bg-asterisk Montserrat.Regular text-white border border-secondary shadow table-borderless table-hover")
        thead(class="shadow")
            tr
                th(scope="col") #
                th(scope="col") Account ID
                th(scope="col") Source
                th(scope="col") Destination
                th(scope="col") Destination Context
                th(scope="col") Caller ID
                th(scope="col") Call Start time
                th(scope="col") Call Answer time
                th(scope="col") Call End time
                th(scope="col") Duration Start-End
                th(scope="col") Duration Answer-End
                th(scope="col") Disposition
        tbody
            each val,index in callList
                tr
                    th(scope="row")=index+1
                    td=callList[index].accountcode
                    td=callList[index].src
                    td=callList[index].dst
                    td=callList[index].dcontext
                    td=callList[index].clid
                    td=callList[index].start
                    td=callList[index].answer
                    td=callList[index].end
                    td=callList[index].duration
                    td=callList[index].billsec
                    td=callList[index].disposition
